body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.scrollarea {
  overflow-y: auto;
}

a {
  color: white;
}

.main-section {
  background-color: #191919 !important;
  overflow-y: scroll;
}

.sidebar {
  overflow-y: scroll;
}

.container {
  max-width: 700px;
}

.content {
  border: 2em;
}

.timeline {
  padding-bottom: 2em;
  padding-left: 10%;
}

.timeline .block {
  padding-left: 5%;
  padding-right: 10%;
}

.timeline .block .date {
  padding-bottom: 0.5em;
}

li {
  padding-bottom: 1em;
}